@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;

}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  color: var(--text-alt-color);

}

.header {
  background-color: var(--bg-alt-color);
}

.header_section {
  display: flex;
  justify-content: space-between;
  /* Центрируем все содержимое */
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 60px;
  /* Разрешаем элементам занимать всю доступную ширину */
  font-weight: 700;
  font-size: 15px;
}


.header_nav {
  display: flex;
  justify-self: center;
  gap: 49px;
}

.header_link {
  position: relative;
  color: var(--text-alt-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.header_link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--btn-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: right;
}

.header_link:hover,
.header_link:focus {
  outline: none;
  color: var(--btn-color);
}

.header_link:hover::after,
.header_link:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}

.header_link.active {
  color: var(--btn-color);
}

.header_link.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--btn-color);
  transform: scaleX(1);
  transform-origin: left;
}

.header_btn {
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px 60px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  font-weight: 700;
  font-size: 15px;
  background-color: var(--main-color);
  /* Добавляем тень по умолчанию */
  transition: all 0.2s ease-in;
}

.header_btn:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  /* Ховер с той же тенью */

  transform: scale(1.02);
  /* Легкое увеличение при ховере */
}


.welcome {
  display: flex;
  justify-content: center;
  /* по горизонтали */
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;

  border-radius: 10px;
  padding: 20px 0;
  color: var(--text-color);
  font-weight: bold;
  font-size: 24px;
  /* по вертикали */
  text-align: center;
  /* текст внутри блока */
  background-color: var(--main-color);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.slider-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background: #5454D4;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.slider-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.arrow {
  background-color: var(--main-color);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 0 0 50px;
}

.arrow:hover {
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12);
  transform: translateY(-6px);
}

.day-info {
  text-align: center;
  flex-grow: 1;
}

.day-name {
  color: var(--text-alt-color);
  font-size: 18px;
  font-weight: bold;
}

.day-load {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.load-indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.load-text {
  font-size: 16px;
  color: var(--text-alt-color)
}


.schedule {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  min-height: 200px;

}

.schedule-item {
  background: var(--main-color);
  border-radius: 10px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.schedule-time {
  font-size: 14px;
  color: gray;
  margin-bottom: 4px;
}

.schedule-subject {
  font-size: 16px;
  font-weight: bold;
}

.schedule-teacher,
.schedule-room {
  font-size: 14px;
}

/* слайдер */


.materials-section {
  padding: 40px;
  text-align: center;

}

.materials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch;
}

.materials-section {
  padding: 0 100px;
  background-color: var(--bg-color);
}

.materials-section h2 {
  text-align: center;
  color: var(--main-alt-color);
  margin-bottom: 40px;
  font-size: 32px;
}

.materials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* карточки в ряд */
  gap: 30px;
}

.material-card {
  background-color: var(--main-color);
  padding: 24px 20px;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;
}

.material-card h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-alt-color);
  margin: 0;
}

.material-card p {
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
  margin: 0;
  padding: 0 6px;
}

.material-card button {
  border: 2px solid white;
  border-radius: 10px;
  padding: 12px 20px;
  font-weight: 700;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--main-color);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.material-card button:hover {
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12);
  transform: translateY(-6px);
}




.footer {
  margin-top: 30px;
  padding: 30px 60px;
  color: var(--text-alt-color);
  background-color: var(--bg-alt-color);
}

.footer__containter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.stankin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  width: 150px;
  margin-bottom: 20px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer__nav strong {
  margin-bottom: 10px;
  color: var(--text-alt-color);
  font-size: 18px;
}

.footer__nav p {
  margin-bottom: 8px;
  color: #ccc;
  font-size: 14px;
}

.footer__nav a {
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
}

.footer__nav a:hover {
  color: var(--text-alt-color);
  text-decoration: underline;
}

.footer__stud,
.footer__safety {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer__stud strong,
.footer__safety strong {
  margin-bottom: 10px;
  color: var(--text-alt-color);
  font-size: 18px;
}

.footer__stud a,
.footer__safety a {
  margin-bottom: 6px;
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
}

.footer__stud a:hover,
.footer__safety a:hover {
  color: var(--text-alt-color);
  text-decoration: underline;
}





/* popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: var(--border-radius);
  max-width: 400px;
  width: 90%;
  position: relative;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}